@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiColor.css');

:root {
    --heading-font: 'Karla', 'Fluent Emoji Color', sans-serif;
    --body-font: 'Karla', 'Fluent Emoji Color', sans-serif;
}

/* Apply Plus Jakarta Sans to body and general text */
body {
    font-family: var(--body-font);
}

/* Apply Poppins to all headings */
h1, h2, h3, h4, h5, h6, .title {
    font-family: var(--heading-font);
}
